<section class="h-64 mt-20 flex items-center justify-center flex-col">
  <div class="w-1/2">
    <h1 class="text-xl w-full text-center mb-4">Registrate</h1>
    <form class="w-full">
      <div class="input-container">
        <label>Nombre completo</label>
        <input type="text" />
      </div>
      <div class="input-container">
        <label>Correo electronico</label>
        <input type="email" />
      </div>
      <div class="input-container">
        <label>Contraseña</label>
        <input type="password" />
      </div>
      <div class="input-container">
        <label>Confirmar contraseña</label>
        <input type="password" />
      </div>
      <button type="submit" class="button primary mt-6">
        Registrarse
      </button>
    </form>
    <div class="w-full flex justify-center items-center mt-2">
      <p class="text-gray-600 mr-2">¿Ya tienes una cuenta?</p>
      <a (click)="goLogin()" class="button">
        Inicia sesión
      </a>
    </div>
  </div>
</section>
