<nav
  class="sticky z-50 flex w-full py-2 px-4 bg-blue-200 top-0 shadow-md items-center justify-between"
>
  <a
    routerLink="/"
    class="flex items-center transition-colors duration-500 p-2 rounded-lg hover:bg-blue-100"
  >
    <img class="object-contain h-12 mr-4" src="assets/img/flor.svg" alt="" />
    <div class="flex flex-col text-gray-700">
      <p class="font-bold">Parktoring</p>
      <span>Parkinson Monitoring</span>
    </div>
  </a>

  <div class="flex items-center w-2/6">
    <a routerLink="/auth/login" class="button w-1/2">Iniciar Sesión</a>
    <a class="button primary w-1/2">Descaga la app</a>
  </div>
</nav>
