a {
    color: inherit;
    text-decoration: none;
}

nav {
    position: fixed; 
    /* pone un elemento flotando dentro del Documento HTML */
    top: 0;
    /* Hasta arriba */
    left: 0;
    /* Hasta la izquierda */
    width: 100vw;
    /* 100% del tamaño de la pantalla del dispositivo */
    padding: 0 16px;
    box-sizing: border-box;
    background-color: darkmagenta;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 70%;
    margin-right: 16px;
}
.logo p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}
.logo__title{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo__title span{ 
    color: whitesmoke;
    opacity: 0.5;
}

.menu-icon{
    width: 15%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    position: relative;
}
.menu{
    position: absolute;
    display: none;
    top: 40px;
    width: 30vw;
    min-width: 300px;
    background-color: darkmagenta;
}
.menu.isShowed{
   display: block; 
}
.menu ul{
    list-style: none;
}
.menu li{
    margin: 8px 0;
}
.menu li:hover{
    opacity: 0.5;
}

.user-not-loged{
    padding: 0 1rem;
    color: white;
}
.user-not-loged .button{
    margin-left: 1rem;
}


@media screen and (max-width: 600px) {
    .logo{
        width: 17%;
        height: 67%;
    }
    .logo p, .logo span{
        display: none;
    }  
    .user-not-loged{
        padding: 0;
    }
}