:host{
border: 1px solid blue;
width: 100%;
height: 100%;
display: block;
}

.container{
display: flex;
justify-content: space-around;
width: 100% ;
height: 100%;
}

section{
    width: 30%;
border : 1px solid red;

}
.main-content{

width: 100%;

}

.button-container{
border: 1px solid blue;
padding: 16px;
display: flex;
justify-content: flex-start;
align-items: flex-start;


}