<section class="landing-section">
  <article>
    <h2>
      ¿Qué es el Parkinson?
    </h2>
    <p>
      La enfermedad de Parkinson es un tipo de trastorno del movimiento. Ocurre
      cuando las células nerviosas (neuronas) no producen suficiente cantidad de
      una sustancia química importante en el cerebro conocida como dopamina.
      Algunos casos son genéticos pero la mayoría no parece darse entre miembros
      de una misma familia.
    </p>
    <button class="button">
      <a>Descarga la app </a>
    </button>
  </article>
  <img src="assets/img/manitas.jpeg" alt="" />
</section>

<section class="landing-section">
  <img src="assets/img/manitas-2.jpeg" />
  <article>
    <h2>Sintomas del Parkinson</h2>
    <p>
      Temblor en las manos, los brazos, las piernas, la mandíbula y la cara
      Rigidez en los brazos, las piernas y el tronco Lentitud de los movimientos
      Problemas de equilibrio y coordinación <br />
    </p>
    <button class="button">
      <a>Descarga la app </a>
    </button>
  </article>
</section>

<section class="landing-section">
  <article class="info-container">
    <h2>Objetivo de nuestro proyecto</h2>
    <p>Ayudar a las personas con su enfermedad</p>
    <button class="button">
      <a>Descarga la app </a>
    </button>
  </article>
  <img src="assets/img/abuelos.jpeg" />
</section>
