<nav
  class="sticky z-30 flex w-full py-2 px-4 bg-blue-200 top-0 shadow-md items-center justify-between"
>
  <a
    routerLink="/especialista/"
    class="flex items-center transition-colors duration-500 p-2 rounded-lg hover:bg-blue-100"
  >
    <img class="object-contain h-12 mr-4" src="assets/img/flor.svg" alt="" />
    <div class="flex flex-col text-gray-700">
      <p class="font-bold">Parktoring</p>
      <span>Parkinson Monitoring</span>
    </div>
  </a>
  <div class="flex items-center w-40 justify-between">
    <img
      class="bg-gray-400 rounded-full w-12 h-12 object-cover object-center"
      src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg"
    />
    <div (click)="toggleMenu()">
      <p
        class="cursor-pointer font-bold text-gray-700 rounded-full w-12 h-12 flex items-center justify-center transition-colors duration-500 hover:bg-gray-100 hover:text-blue-500"
      >
        <fa-icon [icon]="faBars" class="text-2xl"></fa-icon>
      </p>
      <div
        class="absolute rounded-lg bg-blue-100 w-1/2 h-1/2 px-8 py-4 right-0 shadow-md"
        [ngClass]="{ hidden: !menuIsShowed }"
      >
        <ul class="flex flex-col">
          <li
            class="cursor-pointer p-2 rounded transition-colors duration-500 hover:bg-blue-200 hover:text-white"
          >
            <a routerLink="/especialista/pacientes/">
              Pacientes
            </a>
          </li>
          <li
            class="cursor-pointer p-2 rounded transition-colors duration-500 hover:bg-blue-200 hover:text-white"
          >
            Configuracion
          </li>
          <li
            class="cursor-pointer p-2 rounded transition-colors duration-500 hover:bg-blue-200 hover:text-white"
          >
            Acerca de
          </li>
          <li
            class="cursor-pointer p-2 rounded transition-colors duration-500 hover:bg-blue-200 hover:text-white"
          >
            <button (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
