
<main class="login" >
<div class="login-box">
      <h1>Inicio de sesion</h1>
        <!-- USERNAME INPUT -->

        <form>
          <label for="username">Correo</label>
          <input id="emailindx" type="text" placeholder="Ejemplo:JuanH@gmail.com">
          <!-- PASSWORD INPUT -->
          <label for="password">contraseña</label>
          <input id="passwordindx" type="password" placeholder="Ejemplo: 123456">
           <button class="button" id="ingresar" type="button" name="button">ingresar</button>
 </form>
 <a href="">¿Perdio su contraseña?</a>
 <a href="">¿No tiene una cuenta? </a>
</div>      
</main>





