/* You can add global styles to this file, and also import other style files */
body{
margin: 0;
}

html {
    font-family: sans-serif;
    font-size: 16px; 
    /* rem = font-size > html */
    color: black;
}
body{
    margin: 0;
}

.button{
    border: none;
background-color: #220B66;
text-transform: uppercase;
padding: 1rem;
color: white;
text-decoration: none;
font-family: sans-serif;
border-radius: 20px;
font-weight: bold;
transition: background-color 500ms linear;
border: none;
font-size: 13px;
}
.button:hover{
background-color: #4D2BE7;

}

.button2{
    background-color: green;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 500ms linear;

}
.text-error {
    color: red;
}