<head>
    <meta charset="utf-8">

    <title>Menu especialista</title>
  
  
  
  </head>
  
  <body>
  <header>
    <input type="checkbox" id="btnmenu">
    <nav class="hello">
      <ul>
        <li><a routerLink = ""><b> <img src="assets/components" alt=""></b></a></li>
        <li><a routerLink = "/home"><b>Cerrar sesión</b></a></li>
        <li><a routerLink = "/menu"><b>Menu</b></a></li>
        <li><a href=""><b>Pacientes</b></a></li>
        <li><a href=""><b>Acerca de</b></a></li>
      </ul>
    </nav>
  </header>
  </body>