<section class="main">
    <div class="info">
        <div class="info-container">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mollis sapien, id egestas purus feugiat ac. Cras ornare pharetra egestas. Fusce vulputate nec lorem id scelerisque.</p>
            <a class="button">Descarga la app</a>
        </div>
    </div>
    <div class="image">
        <div class="image-container">
            <img src="/assets/img/manitas.jpeg" alt="">
        </div>
    </div>       
</section>

<section class="about">

    <div class="image">
        <div class="image-container">
            <img src="/assets/img/manitas-2.jpeg" alt="">
        </div>
    </div>

    <div class="info">
        <div class="info-container">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mollis sapien, id egestas purus feugiat ac. Cras ornare pharetra egestas. Fusce vulputate nec lorem id scelerisque.</p>
            <a class="button">Descarga la app</a>
        </div>
    </div>
</section>