<section class="main">
    <div class= "info">
    <div class= "info-container">
        <h1>¿Qué es el Parkinson?</h1>
        <p>La enfermedad de Parkinson es un tipo de trastorno del movimiento. Ocurre cuando las células nerviosas (neuronas) no producen suficiente cantidad de una sustancia química importante en el cerebro conocida como dopamina. Algunos casos son genéticos pero la mayoría no parece darse entre miembros de una misma familia. </p>
        <a class="button">Descarga la app </a>
    </div>
    </div>
    <div class= "image">
        <div class="image-container">
            <img src="assets/img/manitas.jpeg" alt="">

        </div>

    </div>
</section>

<section class="about">
    <div class="image">
        <div class="image-container">
            <img src="assets/img/manitas-2.jpeg">
    </div>
    </div>
    <div class= "info">
        <div class= "info-container">
            <h1>Sintomas del Parkinson</h1>
            <p>Temblor en las manos, los brazos, las piernas, la mandíbula y la cara
                Rigidez en los brazos, las piernas y el tronco 
                Lentitud de los movimientos 
                Problemas de equilibrio y coordinación <br>
                 </p>
            <a class="button">Descarga la app </a>
        </div>
        </div>

</section>

<section class="proposito">
    <div class="image">
        <div class="image-container">
            <img src="assets/img/abuelos.jpeg">
    </div>
    </div>
    <div class= "info">
        <div class= "info-container">
            <h1>Objetivo de nuestro proyecto</h1>
            <p>Ayudar a las personas con su enfermedad</p>
            <a class="button">Descarga la app </a>
        </div>
        </div>

</section>